.footer {
  width: calc(100% - 2 * 48px);
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 24px;
}
@media screen and (max-width: 1000px) {
  .footer {
    width: calc(100% - 2 * 36px);
  }
}

@media screen and (max-width: 800px) {
  .footer {
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 750px) {
  .footer {
    width: 100%;
    flex-direction: column;    
    padding: 0 16px 24px;
  }
}